p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: medium;
}

@media (min-width: 320px) {

}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: medium;
    text-align: center;
}